.home_batalla {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 50px;
    margin-top: 10px;
    font-family: cursive;

    h1{
      color: #fa8fb1;
      text-align: center;
    }

    &_comandos {
        display: flex;
        gap: 8px;

        &_input {
            border-radius: 5px;
            padding: 4px;
            text-transform: uppercase;
        }

        &_button {

            &-ejecutar {
                padding: 6px 8px;
                border-radius: 5px;
                border: none;
                background-color: #ffc1d5;
            }

            &-limpiar{
                padding: 6px 8px;
                border-radius: 5px;
                border: none;
                background-color: #fa8fb1;  
            }

        }
    }
}

.home_batalla_matriz table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .home_batalla_matriz th,
  .home_batalla_matriz td {
    border: 1px solid #fa8fb1;
    padding: 8px;
    text-align: center;
    font-size: large;
    cursor: pointer;
  }
  
  .home_batalla_matriz th {
    background-color: #ffc1d5;
    font-weight: bold;
  }
  
  .home_batalla_matriz th:first-child,
  .home_batalla_matriz td:first-child {
    border-left: none;
  }
  
  .home_batalla_matriz th:last-child,
  .home_batalla_matriz td:last-child {
    border-right: none;
  }

  .batalla_color_ataque{
    color: #fa8fb1;
  }

  .batalla_color_fallo{
    color: aqua;
  }

  